$white-color: #ffffff;
$gray-color: #f1f4f6; 
$second-gray-color: #bababa;
$third-gray-color:#95989A;
$forth-gray-color:#ADADAD;
$light-gray-color:#D9E1E6;
$dark-blue-color: #024a96;
$graish-blue-color:#626C83;
$light-blue-color: #a9bfd6;
$orange-color: #FFB100;
$mild-dark-orange-color:#F39500;
$dark-orange-color:#C98937;
$sky-blue-color: #06b1d5;
$black-color: #000;

$main-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$main-box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$main-box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;
